{% extends 'base.html' %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-md-2">
            {% block content %}
            <h1>All Comments</h1>
            
                <h1>All First-Level Comments</h1>
                {% for comment in top_comments %}
                    <p><a href="{% url 'posts:subcomments' parentcomment_id=comment.id %}" data-commentid="{{ comment.id }}" data-depth = "{{ comment.depth }}" class="top-comment">{{ comment }} - {{ comment.depth.depth }}</a></p>
                    <ul class='children-{{ comment.id }}' data-depth = "{{ comment.depth }}">
                    </ul>
                {% endfor %}
                

            
            <hr>
            <form action="{% url 'comments:create_com' %}" method="post" id="comment_form">
                <input type="hidden" name="comment_id">
                <input type="hidden" name="record_id">
                    {% csrf_token %}
                    {{ post_comment_form }}
                <input type="submit" value='Оставить комментарий'>
            </form>
                <div class="mb-4"></div>
                <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
            {% endblock %}
        </div>
    </div>
</div> 
{% block js %}
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
