{% extends 'comments/base_blog.html' %}

<div class="container">
    <div class="row">
        <div class="col-6 offset-md-2">
            {%block content%}
            <h4 class='mt-4'><a href="{% url 'comments:export_comments'%}">Export all comments</a></h4>
            <h4 class='mt-4'><a href="{% url 'comments:export_comments_excel'%}">Export all comments(Excel)</a></h4>
                <h1 class="mb-5">Post detail</h1>
                <p>{{ user.username }}</p>
                <p>{{ post.title }}</p> 
                <p>{{ post.body }}</p>
                {{ post.comments.all }}
                {{post.get_content_type}}
                <h1>Комментарии:</h1>
                    <form method="post" action="."> {% csrf_token %}
                        {{ comment_form }}
                        <input class="btn btn-default" type='submit' value="Оставить комментарий">
                    </form> 
                    <hr/>
                    {% for comment in comments.object_list %}
                    
                    <blockquote>
                        <p>{{ comment.content }}</p>
                        <footer>Автор: {{ comment.user }}</footer>
                        <footer>Дата создания: {{ comment.timestamp|date }}</footer>
                        {% for child_comment in comment.children %}
                        <blockquote>
                            <p>{{ child_comment.content }}</p>
                            <footer>Автор: {{ child_comment.user }}</footer>
                            <footer>Дата создания: {{ child_comment.timestamp|date }}</footer>
                        </blockquote>
                        {% endfor %}
                        <form method="post" action="."> {% csrf_token %}
                            {{ comment_form }}
                            <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                            <input class="btn btn-default" type='submit' value="Ответить">
                        </form> 
                    </blockquote>
                    <hr/>
                    {% endfor %}
                    {% if is_paginated %}
                    <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item {% if not prev_url %} disabled {% endif %}">
                            <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
                          </li>

                        {% for n in comments.paginator.page_range %}
                            {% if comments.number == n %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                                </li>
                            {% elif n > comments.number|add:-3 and n < comments.number|add:3 %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                          </li>
                          {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not next_url %} disabled {% endif %}">
                            <a class="page-link" href="{{ next_url }}">Next</a>
                        </li>
                        </ul>
                      </nav>
                      {% endif %}
            {% endblock %}
        </div>
    </div>
</div> 
